body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    text-align: center;
    width: min(600px, 75vw);
    height: min(600px, 150vw);
    margin: 10vw;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    background-color: grey;
}

.screen {
    height: 100px;
    display: flex;
}

.screenspace {
    background-color: white;
    flex: 1;
    margin: 20px;
}

.grid {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-around;
    flex: 1;
    align-items: center;
}

button {
    padding: 2em;
    /* height: min(80px,15vw);
    width: min(80px,15vw); */
}